{% extends "layout/base.twig" %}

{% block content %}
<div class="news-column">

	<div class="slider-container">
		<div class="slider-inside-wrap">
			<ul class="slider" id="slider">
				{% for post in posts %}
					{% if post.featured_news_item == 'yes' %}
						<li class="slide">
							<a href="{{post.permalink}}">
							{% if post.get_image('featured_news_image').src %}
								<img src="{{ post.get_image('featured_news_image').src|resize(760,400) }}" alt="Featured Image - {{post.title}}" class="slide__image">
							{% else %}
								<img src="{{ post.get_thumbnail.get_src|resize(760, 400) }}" alt="Featured Image - {{post.title}}" class="slide__image">
							{% endif %}
							</a>
							<div class="slide__caption">
								{{post.title}}
							</div>
						</li>
					{% endif %}
				{% else %}
					No Featured posts
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="news--preview">
		<h3 class="news__title">Latest News</h3>
		<hr class="news__divider">
		{% for post in posts %}
			{% include [post.post_type~'/preview.twig', 'posts/preview.twig'] %}
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block sidebar %}
	<aside id="sidebar" class="sidebar" role="complementary">
		{{main_sidebar}}
	</aside>
{% endblock %}
