{% extends "layout/base-grid.twig" %}
{% block content %}
	<div class="row">
		<h1 class="col-xs-12 page__header">{{page.title}}</h1>
		<article class="col-xs-12 page__content">
			{{page.content}}
		</article>
		<article class="col-xs-12">
			{% for letter in 'A'..'Z' %}
				<span class="letterNav"><a href="#section-{{letter|lower}}">{{letter}}</a></span>
			{% endfor %}
		</article>
	</div>
	<div class="row">
		{% for scientist in scientists %}
			{% if current_letter != scientist.last_name|slice(0,1) %}
				</div>
				<div class="row">
					{% set current_letter = scientist.last_name|slice(0,1) %}
					<h2 class="col-xs-12 scientist__letter" id="section-{{current_letter|lower}}">{{ current_letter }}</h2>
					<hr class="scientist__divider">
				</div>
				<div class="row">
			{% endif %}

			{% include [scientist.post_type~'/preview.twig', 'posts/preview.twig'] %}
		{% endfor %}
	</div>
	
{% endblock %}
