{% extends 'layout/base-grid.twig' %}

{% block content %}
	<div class="row">
		<h1 class="small-12 columns page__header">{{page.title}}</h1>
		<article class="small-12 columns page__content">
			{{page.content}}
		</article>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h2 class="">Scientific Programs</h2>
			<hr class="">
		</div>
	</div>
	<div class="row">
		{% for child in page.get_children %}
			<div class="small-12 medium-6 large-4 columns">
				<div class="card-container--full">
					<article class="card--full card--program">
						{% if child.get_thumbnail %}
							<img src="{{ child.get_thumbnail.get_src }}" class="card__thumb--full">
						{% endif %}
						<h2 class="card__title">
							<a href="{{child.get_path}}">
								{{child.post_title}}
							</a>
						</h2>
						<p class="card__text--program">
							{{child.get_preview(30)}}
						</p>
					</article>
				</div>
			</div>
		{% else %}
			No Children
		{% endfor %}
	</div>
{% endblock %}
