{% extends 'layout/base.twig' %}

{% block html_head %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/wp-content/themes/wptimber-biosciences/assets/css/tabs.css">
{% endblock %}

{% block content %}
    <div id="content">
        <h2>{{post.title}}</h2>
        <div id="content-header">
            {% for contact in post.get_field('contacts') %}
                <div class="contact">
                    <span>{{contact.name}}</span>
                    <span>{{contact.address}}</span>
                    <span>{{contact.number}}</span>
                    <span>{{contact.email}}</span>
                </div>
                <div class="clear"></div>
            {% endfor %}
        </div>
        <div id="tabs">
            <ul>
            {% for item in post.get_field('info') %}
                <li><a href="#tabs-{{loop.index}}">{{item.title}}</a></li>
            {% endfor %}
            </ul>
            {% for item in post.get_field('info') %}
                <div id="tabs-{{loop.index}}">
                    {% if item.image.src != "" %}
                        <img src="{{item.image.src|resize(500, 300)}}" alt="">
                    {% endif %}
                    <p>{{item.info}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $('#tabs').tabs();
    </script>
{% endblock %}