{% extends 'layout/base-focused.twig' %}

{% block html_head %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/south-street/jquery-ui.min.css">
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="page__header columns">{{page.title}}</h1>
        <hr style="width:100%">
    </div>
    <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-4 c-center">
        {% for contact in page.get_field('contacts') %}
            <li class="contact">
                <div>{{contact.name}}</div>
                <div>{{contact.number}}</div>
                <div><a href="mailto:{{contact.email}}">{{contact.email}}</a></div>
            </li>
        {% endfor %}
    </ul>
    <div class="row">
        <div id="tabs" class="hidden">
            <ul>
            {% for tab in page.get_field('tabs') %}
                <li><a href="#tab-{{loop.index}}">{{tab.title}}</a></li>
            {% endfor %}
            </ul>
            {% for tab in page.get_field('tabs') %}
                <div id="tab-{{loop.index}}">
                    <h3>{{tab.title}}</h3>
                    <p>{{tab.content}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "components/footer.twig" %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
        jQuery(function(){
            jQuery('#tabs').removeClass("hidden").tabs();
        });
    </script>
{% endblock %}